[submodule "three20"]
	path = three20
	url = git://github.com/joehewitt/three20.git
[submodule "objectiveLibxml2"]
	path = objectiveLibxml2
	url = git://github.com/baalexander/ObjectiveLibxml2.git
[submodule "arkit"]
	path = arkit
	url = git://github.com/zac/iphonearkit.git
